<div class="d-flex flex-column" data-controller="questions">
  <div>
    <div>
    </div>
  </div>
  <div data-questions-target="one"> <%# 1ère question %>
    <div>
      <%# image %>
    </div>
    <div>
      <h2>Question 1</h2>
    </div>
    <div>
      <p><%= @trip.itinerary.questions[0].question_statement %></p>
    </div>
    <div>
      <%# propositions %>
      <%= form_with method: :get do %>
        <% @trip.itinerary.questions[0].answer_statement.each do |answer|  %>
          <% if answer == @trip.itinerary.questions[0].good_answer %>
            <%= submit_tag answer, class: "btn btn-outline-primary", data: { action: "click->questions#displayList", target: "my-anchor svglist" } %>
          <% else %>
            <%= submit_tag answer, class: "btn btn-outline-primary", data: { action: "click->questions#displayList", target: "my-anchor svglist" } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
