<%# <div>
  <div class="pusle d-none" id="poie-(er) poie_iti.order (er)">
  </div>

  <div class="castle d-none">
    (pe) image_tage (pe)
  </div>
</div>


<script>
  this.castleTarget.classList.remove(d-none)
</script> %>
