// Specific CSS for your home-page
.wrapper-home {
  overflow-x: hidden;
  height: 100vh;

  .video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }

  .filter {
    width: 100%;
    height: 100%;
    background-color: #141768;
    opacity: .5;
  }

  .wrapper-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      color: white;
      text-align: center;
      font-size: 45px;
      width: 85%;
      margin-top: 20px 0;
    }

    .rotating-text-wrapper {
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      p {
        margin-bottom: 0;
        color: white;
        font-size: 20px;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        opacity: 0;

        &:first-child {
          animation-name: rotating-text-1;
        }

        &:nth-child(2) {
          animation-name: rotating-text-2;
        }

        &:last-child {
          animation-name: rotating-text-3;
        }
      }
    }

    .form {
      width: 85%;
      height: 45px;
      margin: 20px 0;

      .form-control {
        background-color: white;
        opacity: .6;
        border: solid 3px white;
        height: 100%;
      }

      .form-btn {
        height: 100%;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  } 100% {
    opacity: 0;
  }
}

@keyframes rotating-text-1 {
  0% {
    transform: translateY(200%);
  }
  33% {
    transform: translateY(100%);
    opacity: 1;
  }
  34% {
    opacity: 0;
  }
}

@keyframes rotating-text-2 {
  33% {
    transform: translateY(100%);
    opacity: 0;
  }
  66% {
    transform: translateY(0);
    opacity: 1;
  }
  67% {
    opacity: 0;
  }
}

@keyframes rotating-text-3 {
  66% {
    transform: translateY(0);
    opacity: 0;
  }
  99% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
