.back-color {
  background-color: $beige;
}

.container-index {
  gap: 35px;
  padding: 20px 20px 105px;
}

.container-profile {
  gap: 10px;
  padding: 20px 20px 105px;
}

.checkbox-wrapper {
  width: 100vw;
  overflow: hidden;
  overflow-x: scroll;
  padding-right: 48px;
  gap: 10px;

  .btn-outline-primary:hover {
    color: $primary !important;
    background-color: transparent !important;
  }
  &:after {
    content:'';
    height: 60px;
    width: 60px;
    position: absolute;
    right: -1%;
    background-image: linear-gradient(270deg, $beige, transparent);
  }
}

.navbar-icon {
  filter: grayscale(0) !important;
  opacity: 1 !important;
}


.mapboxgl-canvas-container {
  height: 100vh;
}

.map-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

#itinerary-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
}


.map-hidden {
  height:0vh !important;
  overflow:hidden;
}

.scale-0 {
  transform:scale(0) !important;
}
.scale-1 {
  transform:scale(1)
}

.mapboxgl-canvas-container {
  height: 100px;
}
.mapboxgl-canvas{
  // mix-blend-mode: multiply;
}

.map-overlay {
  z-index: -2;
  width:100vw;
  height:100vh;
  background:$beige;
}

.mapboxgl-marker { position: absolute; top: 0; left: 0; }

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -20px;
  filter: grayscale(1);
  opacity: 0.25;
  color:$primary;
}

.animate-marker {
  animation: slideIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    top: -50px;
    visibility: visible;
  } 100% {
    opacity: 1;
    top: -30px;
    visibility: visible;
  }
}
