.back-color {
  background-color: $beige;
}

.container-index {
  gap: 35px;
  background-color: $beige;
  padding: 20px 20px 105px;
}

.checkbox-wrapper {
  width: 100vw;
  overflow: hidden;
  overflow-x: scroll;
  gap: 20px;

  .btn-outline-primary:hover {
    color: $primary !important;
    background-color: transparent !important;
  }
}

.svg-colorized {
}
