.quizz-wrapper {
  padding: 22px 22px;
  gap: 10px;
}

.question-index {
  gap: 20px;
}

.question-img {
  width: 100%;
  height: 215;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.question-center {
  text-align: center;
}

.quizz-image {
  width: 100%;
  height: 300;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.questions-wrapper {
  width: 100%;
  gap: 10px;
}

.background-progress {
  border: solid 2px $primary;
  background-color: transparent;
  border-radius: 50px;
  width: 100%;
  height: 30px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;

  .progress-bar {
    width: 0%;
    height: 80%;
  }

  .progress20 {
    animation: fill20 0.5s ease-in-out forwards;
    height: 80%;
    background-color: $primary;
    border-radius: 50px 0 0 50px;
    margin: 2px;
  }

  .progress40 {
    animation: fill40 0.5s ease-in-out forwards;
    width: 20%;
    height: 80%;
    background-color: $primary;
    border-radius: 50px 0 0 50px;
    margin: 2px;
  }

  .progress60 {
    animation: fill60 0.5s ease-in-out forwards;
    width: 40%;
    height: 80%;
    background-color: $primary;
    border-radius: 50px 0 0 50px;
    margin: 2px;
  }

  .progress80 {
    animation: fill80 0.5s ease-in-out forwards;
    width: 60%;
    height: 80%;
    background-color: $primary;
    border-radius: 50px 0 0 50px;
    margin: 2px;
  }

  .progress100 {
    animation: fill100 0.5s ease-in-out forwards;
    width: 80%;
    height: 80%;
    background-color: $primary;
    border-radius: 50px 0 0 50px;
    margin: 2px;
  }
}

.wrapper-congratulation {
  gap: 20px;
}

.wrapper-rating {
  margin: 0 auto;

  h4 {
    margin-bottom: 15px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 30px;
  }

  .star-rating {
    display: flex;
    gap: 10px;
  }

  .star {
    cursor: pointer;
    width: 22px;
    aspect-ratio: 1/1;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .star-input {
    position: absolute;
    left: -9999px;
  }

  .visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
  }
}

@keyframes fill20 {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}

@keyframes fill40 {
  0% {
    width: 20%;
  }
  100% {
    width: 40%;
  }
}

@keyframes fill60 {
  0% {
    width: 40%;
  }
  100% {
    width: 60%;
  }
}

@keyframes fill80 {
  0% {
    width: 60%;
  }
  100% {
    width: 80%;
  }
}

@keyframes fill100 {
  0% {
    width: 80%;
  }
  100% {
    width: 100%;
    border-radius: 50px;
  }
}
