.wrapper-map {
  width: 100vw;
  height: 100vh;

  .mystery-count {
    background-color: white;
    border-radius: 20px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 75%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .custom-modal {
    bottom: 0;
    z-index: 1;
    background-color: white;
    border-radius: 16px;
    overflow: visible;
    margin-bottom: 16px;
    width: 95%;
    height: auto;
    text-align: center;
    transform: translateY(120%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    max-height: 300px;
    padding-top: 28px !important;
    .clueImage {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
    }
  }

  .space-text {
    gap: 4px;
  }

  .btn-modal {
    width: 100% !important;
  }

  .icone-background {
    width: 40px !important;
    height: 40px !important;
    border-radius: 8px;
    background-color: $primary;
    border:1px solid $primary;
    position:absolute;
    top:-16px;

    display: flex;
    align-items:center;
    justify-content: center;
    img {
      width:24px;
    }

    .m-0 {
      margin-top:12px;
    }
  }
}

.step-front {
  color: $black-700;
}

.poi-name {
  font-size: 26px !important;
}

.plus-btn {
  z-index: 1;
  bottom: 0;
  right: 0;
  margin: 0 12px 12px 0;
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl {
  display: none !important;
}


.modal-seen {
  animation: modalSlideIn .5s ease-in-out forwards;
}

@keyframes modalSlideIn {
  from {
    transform: translateY(120%);
  }
  to {
    transform: translateY(0%);
  }
}


// .mapboxgl-canvas {
//   opacity: 1 !important;
// }
