<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to 'Log in', new_user_session_path, class:'btn btn-primary' %>
<%= link_to 'sign up', new_user_registration_path, class:'btn btn-outline-primary'%>
<%= link_to "Discover itineraries", itineraries_path, class:'btn btn-primary' %>
<div class="card"></div>
