<div class="d-flex flex-column container-profile">
  <h1>Votre profil</h1>
  <h2 style="margin-top: 10px; margin-bottom: 0px">Vos itinéraires favoris</h2>
  <%= render 'itineraries_list', itineraries: @favorite_itineraries %>
  <h2 style="margin-top: 10px; margin-bottom: 0px">Itinéraires faits</h2>
  <%= render 'itineraries_list', itineraries: @completed_itineraries %>
  <div>
    <%= link_to 'Retour aux itinéraires', itineraries_path, class: 'btn btn-primary btn-center' %>
  </div>
</div>
