.btn-primary {
  background-color: $primary !important;
}

.btn-outline-primary {
  border: solid 2px $primary !important;
}

.btn-filter {
  padding:6px 12px;
  border-radius:50px;
}

.btn-center {
  width: 90%;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
