.mapboxgl-marker {
  background-color: $primary;
  width:50px;
  height:50px;
  border-radius:50%;
  position: relative;
  opacity: 0.4 !important;

  svg {
    display:none;
  }
}

.mapboxgl-marker:first-of-type {
  background-color: red !important;
  width: 20px;
  height: 20px;
}

.mapboxgl-marker:after {
  background-color: $primary;
  opacity: 0.4;
  content: '';
  width:200px;
  height:200px;
  position:absolute;
  top: -75px;
  left: -75px;
  transform: scale(0);
  border-radius:50%;
  animation: pulse 5s infinite;
}
/* Style marker for itineraries */
.mapboxgl-marker:first-of-type:after {
  display:none;
}

.itinerary-marker, .itinerary-marker:first-of-type {
  width: 20px !important;
  height: 20px !important;
  background-color: blue !important;
  border:1px solid black;
}

.itinerary-marker:after {
  display:none !important;
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
