<div class= "main_show_div">
  <div class= "card_show_itinerary">
    <%= image_tag "rue_du_chat_qui_danse", class: "show_image", crop: :fill %>
  </div>
  <div class="card_show_itinerary_content">
    <h2><strong><%= @poi.mystery_name %></strong></h2>
    <p><%= @poi.mystery_content %></p>
  </div>
  <div class="card_show_bottom">
    <%= link_to "Go to the quizz", trip_questions_path(Trip.first.id), class:"btn btn-primary w-100" %>
  </div>
</div>
